@import "../../styles/_responsive.scss";

.Score {
  position: fixed;
  bottom: 0;
  width: 200px;
  height: 100px;
  background-position: center;
  background-size: cover;
  background-image: url(../../assets/starsandstones/stonescore.svg);
  text-align: center;
  @include desktop {
    width: 300px;
    height: 160px;
    margin-left: 40px;
  }

  &__number {
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 20px;
    margin: 0;

    @include desktop {
      font-size: 30px;
    }
  }
}
