@import "../../styles/_responsive.scss";

.Planets {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  grid-gap: 10px;
  grid-template-rows: repeat(6, 2fr);
  
  &__react {
    grid-column: 2;
    grid-row: 1;
    &-img {
      width: 9rem;
      height: 9rem;
      @include desktop {
        width: 15rem;
        height: 15rem;
      }
    }
  }

  &__angular {
    grid-column: 3;
    grid-row: 2;
    &-img {
      width: 9rem;
      height: 9rem;
    }
  }

  &__html {
    grid-column: 3;
    grid-row: 4;
    @include desktop {
      grid-row: 5;
    }
    &-img {
      width: 6rem;
      height: 6rem;
      @include desktop {
        width: 10rem;
        height: 10rem;
      }
    }
  }

  &__javascript {
    grid-column: 3;
    grid-row: 5;
    @include tablet {
      grid-column: 5;
    }
    &-img {
      width: 9rem;
      height: 9rem;
      @include desktop {
        width: 25rem;
        height: 25rem;
      }
    }
  }

  &__scss {
    grid-column: 2;
    grid-row: 2;
    @include tablet {
      grid-column: 5;
    }
    &-img {
      width: 9rem;
      height: 9rem;
      @include desktop {
        width: 15rem;
        height: 15rem;
      }
    }
  }

  &__css {
    grid-column: 2;
    grid-row: 5;
    &-img {
      width: 9rem;
      height: 9rem;
      @include desktop {
        width: 15rem;
        height: 15rem;
      }
    }
  }

  &__aliens {
    grid-column: 2;
    grid-row: 2;
    width: 90px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../../assets/spaceships/navealien.svg);
  }

  &__spaceship {
    grid-column: 3;
    grid-row: 4;
    width: 190px;
    @include tablet {
      grid-column: 4;
    }
  }
}
