@import "../../styles/_responsive.scss";

.Welcome {
  position: absolute;
  width: 340px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @include tablet {
    width: 590px;
  }
  @include desktop {
    width: 900px;
  }
}
