@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import './_responsive.scss';

%basebuttonmobile {
  width: 115px;
  height: 30px;
  background-color: transparent;
  color: white;
  outline: none;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 0.8rem;
  transition: all 1s ease;
  &:hover {
    background-color: rgb(33, 67, 152);
    box-shadow: 0px 0px 40px rgb(116, 120, 255);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  }
  @include tablet {
    margin-left: 20px;
    width: 180px;
    height: 60px;
    font-size: 19px;
  }
}

%basebuttontablet {
  margin-left: 20px;
  width: 180px;
  height: 60px;
  font-size: 19px;
}