@import './_responsive.scss';

.About {
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__linkedin {
    width: 1em;
    margin-right: 0.5em;
  }

  &__button {
    z-index: 1;
    position: fixed;
    top: 30px;
    left: 30px;
    display: flex;
    align-items: center;
    justify-content: baseline;

    &-upgrade {
      transition: all 1s ease;
      width: 100px;
      height: 30px;
      margin-left: 20px;
      margin-top: 2px;
      @include tablet {
        width: 200px;
        height: 60px;
      }
    }
  }

  &__top {
    z-index: 0;
    position: fixed;
    top: 0;
    width: 100%;
    @include desktop {
      top: -80px;
    }
  }

  &__spaceship {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-bottom: -50px;
    @include desktop {
      bottom: -80px;
    }
  }

  &__container {
    margin-top: 20vh;

    > h2 {
      margin: 0;
    }

    &-info {
      color: white;
      font-size: 14px;
      text-shadow: 2px 2px 25px rgb(55, 108, 215);
      @include tablet {
        font-size: 30px;
      }
    }

    &-link {
      text-decoration: none;
      color: white;
      text-shadow: 2px 2px 25px rgb(55, 108, 215);
      font-size: 20px;
      @include tablet {
        font-size: 30px;
      }
    }
  }
}