@import './_elements.scss';
@import './_responsive.scss';

.Planet {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__win {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    width: 150%;
  }

  &__title {
    color: white;
    font-family: 'Press Start 2P', cursive;
    margin: 0.5em;
    font-size: 13px;
    @include tablet {
      font-size: 28px;
    }
    @include desktop {
      font-size: 48px;
    }
  }

  &__buttonstop {
    align-self: flex-start;
    flex-grow: 1;
    margin: 2%;
    &-left {
      margin-right: 20px;
    }
    &-right {
      @extend %basebuttonmobile;
    }
  }

  &__img {
    position: relative;
    @include tablet {
      width: 768px;
      height: 424px;
    }
    @include desktop {
      width: 1080px;
      height: 580px;
    }

    &-question {
      width: 100%;
      height: 100%;
    }

    &-coin {
      position: absolute;
      width: 20%;
      right: -15px;
      top: -80px;
      @include tablet {
        top: -120px;
        right: -30px;
      }
      @include desktop {
        top: -250px;
        right: -60px;
      }
    }
  }

  &__buttonbottom {
    flex-grow: 2;
    margin: 2%;
  }
}
