@import "../../styles/_responsive.scss";

.Rocks {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  grid-gap: 10px;
  grid-template-rows: repeat(6, 2fr);
  &__stone1 {
    grid-column: 2;
    grid-row: 5;
    width: 4rem;
    height: 4rem;
    background-image: url(../../assets/starsandstones/piedrasgalacticas.svg);
    background-size: cover;
    background-position: center center;
    transition: box-shadow 0.5s;
    will-change: transform;
    @include desktop {
      width: 10rem;
      height: 10rem;
      grid-column: 1;
    }
  }
  &__stone2 {
    grid-column: 5;
    grid-row: 2;
    width: 2rem;
    height: 2rem;
    background-image: url(../../assets/starsandstones/piedrasgalacticas.svg);
    background-size: cover;
    background-position: center center;
    transition: box-shadow 0.5s;
    will-change: transform;
    @include desktop {
      width: 10rem;
      height: 10rem;
      grid-column: 6;
    }
  }
  &__stone3 {
    grid-column: 4;
    grid-row: 6;
    width: 2rem;
    height: 2rem;
    background-image: url(../../assets/starsandstones/piedrasgalacticas.svg);
    background-size: cover;
    background-position: center center;
    transition: box-shadow 0.5s;
    will-change: transform;
  }
  &__stone4 {
    grid-column: 2;
    grid-row: 2;
    width: 2rem;
    height: 2rem;
    background-image: url(../../assets/starsandstones/piedrasgalacticas.svg);
    background-size: cover;
    background-position: center center;
    transition: box-shadow 0.5s;
    will-change: transform;
  }
  &__stone5 {
    grid-column: 5;
    grid-row: 5;
    width: 2rem;
    height: 2rem;
    background-image: url(../../assets/starsandstones/piedrasgalacticas.svg);
    background-size: cover;
    background-position: center center;
    transition: box-shadow 0.5s;
    will-change: transform;
  }
  &__diamond1 {
    grid-column: 5;
    grid-row: 3;
    width: 3rem;
    height: 3rem;
    background-image: url(../../assets/starsandstones/diamanteazul.svg);
    background-size: cover;
    background-position: center center;
    transition: box-shadow 0.5s;
    will-change: transform;
    @include desktop {
      width: 3rem;
      height: 3rem;
      grid-row: 1;
    }
  }
  &__diamond2 {
    grid-column: 5;
    grid-row: 6;
    width: 2rem;
    height: 2rem;
    background-image: url(../../assets/starsandstones/diamanteazul2.svg);
    background-size: cover;
    background-position: center center;
    transition: box-shadow 0.5s;
    will-change: transform;
  }
  &__diamond3 {
    grid-column: 2;
    grid-row: 3;
    width: 3rem;
    height: 3rem;
    background-image: url(../../assets/starsandstones/diamanteazul.svg);
    background-size: cover;
    background-position: center center;
    transition: box-shadow 0.5s;
    will-change: transform;
    @include desktop {
      width: 5rem;
      height: 5rem;
    }
  }
}
