@import "./styles/_responsive.scss";

$numberOfStars: 200;

.App {
  background-color: #050d1f;
  background-image: radial-gradient(ellipse farthest-corner at 270px 47px , #050d1f 20%, #001cf4 30%, #000c26 60%);
}

@for $i from 1 through $numberOfStars {
  $wh: random(6) + px;
  $posX: random($appWidth) + vw;
  $posY: random($appHeigth) + vh;

  .App__star:nth-child(#{$i}) {
    width: $wh;
    height: $wh;
    background: white;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: $posY;
    left: $posX;
    opacity: random(10) / 8;
    box-shadow: 0px 0px random(5) + px 0px white;
    @if $wh == '6px' {
      animation: drop-#{$i} 3s forwards ease-in-out #{($i * 0.4)}s;
      &::after {
        position: absolute;
        content: '';
        bottom: 3px;
        left: calc(50% - 2.5px);
        width: 3px;
        height: 70px;
        border-radius: 50% 50% 0 0;
        background: rgba(255, 255, 255, 1);
        transform-origin: bottom;
        transform: rotate(-50deg) scaleY(0);
        animation: tail-#{$i} 3s forwards ease-in-out #{($i * 0.4)}s;
      }
    }
    @if $wh == '5px' {
      animation: stars-#{$i} 0.8s infinite alternate ease-in-out;
      box-shadow: 0px 0px random(15) + px 0px white;
    }
  }
  @keyframes stars-#{$i} {
    to {
      transform: scale(random(2) * 0.7);
    }
  }
}