@import 'react-toastify/dist/ReactToastify.css';

@import '../../styles/_elements.scss';
@import '../../styles/_responsive.scss';

.Randomoptions {
  &__one {
    @extend %basebuttonmobile;
  }
  &__two {
    @extend %basebuttonmobile;
  }
}
